<footer>
  <div class="footer-container container-home container-fluid">
    <div class="footer-features">
      <a href="#">
        <div class="footer-feature">
          <img src="/images/img/iconos/pngegg(19).png" alt="Preguntas Frecuentes">
          <div>Preguntas Frecuentes</div>
        </div>
      </a>
      <a href="#">
        <div class="footer-feature">
          <img src="/images/img/iconos/pngwing.com(65).png" alt="Trabaja Con Nosotros">
          <div>Trabaja Con Nosotros</div>
        </div>
      </a>
      <a href="#">
        <div class="footer-feature">
          <img src="/images/img/iconos/pngwing.com(66).png" alt="Vende en CrateDrop">
          <div>Vende en CrateDrop</div>
        </div>
      </a>
    </div>
    <div class="separator"></div>
    <div class="footer-bottom">
      <div class="footer-left-side">
        <div>
          <div class="title">Únete</div>
          <!-- Mostrar solo si el usuario no ha iniciado sesión -->
          <% if (!user) { %>
            <div class="option">
              <a href="/users/register">Regístrate</a>
            </div>
            <div class="option">
              <a href="/users/login">Inicia Sesión</a>
            </div>
          <% } %>
          <div class="option">
            <a href="/products/sell">Vender</a>
          </div>
          <div class="option">
            <a href="#">Ser Tienda Oficial</a>
          </div>
          <div class="option">
            <a href="#">Ayuda</a>
          </div>
        </div>
        <div>
          <div class="title">Sobre CrateDrop</div>
          <div class="option">
            <a href="#">Términos y condiciones</a>
          </div>
          <div class="option">
            <a href="#">Política de Privacidad</a>
          </div>
          <div class="option">
            <a href="#">Trabaja Con Nosotros</a>
          </div>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="title">Contáctanos</div>
        <div class="option">
          <a style="color: rgb(91, 97, 111);" href="mailto:soporte@CrateDrop.com">soporte@CrateDrop.com</a>
        </div>
        <div class="option" style="color: rgb(91, 97, 111);">
          Panamá, Colón, Sabanitas
        </div>
        <div class="option" style="margin-top: 15px;">
          <a href="#">
            <img src="/images/img/iconos/instagram.png" alt="instagram">
          </a>
          <a href="#">
            <img src="/images/img/iconos/pngwing.com(62).png" alt="facebook">
          </a>
          <a href="#">
            <img src="/images/img/iconos/pngwing.com(63).png" alt="youtube">
          </a>
          <a href="#">
            <img src="/images/img/iconos/pngwing.com(64).png" alt="tiktok">
          </a>
          <a href="#">
            <img src="/images/img/iconos/whatsapp-logo-112413FAA7-seeklogo.com.png" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
