<header>
    <div class="nav-bar">
      <a href="/" class="logo">CrateDrop</a>
  
      <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Busca Tu Producto">
        <button type="submit">Buscar</button>
      </form>
      
  
      <!-- Botón de hamburguesa -->
      <button class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      
      <!-- Menú de navegación -->
      <ul class="navlist" id="navlist">
        <li><a href="/cart">CARRITO</a></li>
        <li><a href="/users/profile">MI PERFIL</a></li>
        <li><a href="/users/sell">VENDER</a></li>
      </ul>
    </div>
  </header>
  