<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/globals.css" />
    <link rel="stylesheet" href="/stylesheets/styleguide.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/createProduct.css">

</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        <h1>Crear Nuevo Producto</h1>
        <form action="/products/create" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Nombre del Producto:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="item">Item:</label>
                <input type="text" id="item" name="item" required>
            </div>
            <div>
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" required>
            </div>
            <div>
                <label for="quantity">Cantidad:</label>
                <input type="number" id="quantity" name="quantity" required>
            </div>
            <div>
                <label for="discount">Descuento:</label>
                <select id="discount" name="discount">
                    <option value="no">No</option>
                    <option value="yes">Sí</option>
                </select>
            </div>
            <div>
                <label for="image">Subir Imagen:</label>
                <input type="file" id="image" name="image" required>
            </div>
            <button type="submit">Crear Producto</button>
        </form>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
